<div>
  <form [formGroup]="validation" (ngSubmit)="send(name,age)">
    <input type = "text" placeholder ="name"  formControlName="name" class ="form-control" id="name" #name/>
    
      <div style="color: red; width: 10%; margin: auto; background-color: cadetblue;" *ngIf = "!nameValid">
        Not a valid name
      </div>
       <input type = "number" placeholder ="age"  class ="form-control" formControlName="age" id="age" #age/>
       <div style="color: red; width: 10%; margin: auto; background-color: cadetblue;" *ngIf = "!ageValid">
        Not a valid age
      </div>
    <button type="submit">Done</button>
      
   
    </form>
</div>

<!--button (click)="send()" *ngIf = "age>18 && age < 150 && age!= null && age != undefined else notreal">Done</button-->
